/* All h1 elements are pink */
h1 {
   color: #733f48;
}

/* All elements with the class "done" are strike through */
.done {
  
}

/* The element having id "rude" is shown uppercase with a particular font */
#rude {
  font-family: monospace;
  text-transform: uppercase;
}
